Binaries
DerivedDataCache
Intermediate
Saved
Build
DerivedDataCache
Content/*
!Content/Blueprints
**/BlackAlder
**/Landscape
**/MedievalDungeon
**/Megascans
**/StarterContent


.vscode
.vs
.idea
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace